<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Изменение{% else %}Создание{% endif %} полигона</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'default_map.css' %}">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        body {
            margin: 10px;
        }
        input, textarea {
            width: 400px;
        }
        label {
            margin-top: 10px;
            display: block;
        }
        #form-buttons {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form method="post" onsubmit="onSubmit()">
        {% csrf_token %}
        {{ form.as_div }}
        <div id="form-buttons">
            {% if form.instance.pk %}
            <button type="button" onclick="location.href=`{% url 'polygon_delete' pk=form.instance.pk %}`">Удалить</button>
            {% endif %}
            <button type="submit">Сохранить</button>
            <button type="button" onclick="location.href=`{% url 'polygon_list' %}`">Отмена</button>
        </div>
    </form>

    <div id="map"></div>
    <script src="{% static 'default_map.js' %}"></script>
    <script>
        // Инициализируем полигон
        {% if form.instance.shape %}
        try {
            let shape = {{ form.instance.shape.geojson|safe }};
            let layers = L.geoJSON(shape).getLayers();
            var polygon = layers[0].addTo(map);  // первый слой из группы
            if (!polygon.isEmpty()) {
                map.fitBounds(polygon.getBounds());
            } else {
                // Устанавливаем глобальный вид
                map.setView([0, 0], 1);
            }
        } catch (error) {
            console.error(error);
            alert("Ошибка загрузки данных полигона!");
        }
        {% else %}
        var polygon = L.polygon([]).addTo(map);
        {% endif %}

        // Добавляем пересекающиеся полигоны
        function xStyle(feature) {
            return {
                weight: 3,
                dashArray: 15, // пунктир
                color: 'red', // контур
                fillColor: 'red',
                opacity: 0.5,
                fillOpacity: 0.1
            };
        }
        L.geoJSON({{ intersections|safe }}, {style: xStyle}).addTo(map);

        // Инициализируем поле с координатами
        const coordinates = document.getElementById('id_coordinates');
        function updateCoordinates() {
            if (polygon instanceof L.Polygon) {
                let coords = polygon.getLatLngs()[0].map(function(point) {
                    return `[${point.lat}, ${point.lng}]`;
                });
                coordinates.value = `[${coords.join(',\n')}]`;
            }
        }
        updateCoordinates();

        // Обновляем карту при изменении координат (Ctrl + Enter)
        coordinates.addEventListener('keydown', function(event) {
            if (event.ctrlKey && event.key === 'Enter') {
                // event.preventDefault();
                try {
                    var latLngs = JSON.parse(coordinates.value).map(function(point) {
                        return L.latLng(point[0], point[1]);
                    });
                } catch (error) {
                    console.error(error);
                    alert("Координаты полигона некорректны!");
                }

                // Удаляем существующий полигон и создаем новый
                if (polygon instanceof L.Polygon) map.removeLayer(polygon);
                polygon = L.polygon(latLngs).addTo(map);

                if (!polygon.isEmpty()) map.fitBounds(polygon.getBounds());
            }
        });

        // При клике на карте добавляем новые координаты
        map.on('click', function(event) {
            if (polygon) {
                polygon.addLatLng(event.latlng);
                updateCoordinates();
            }
        });

        // При отправке формы сохраняем полигон в скрытое поле
        function onSubmit() {
            if (polygon) {
                let shape = polygon.toGeoJSON().geometry;
                document.getElementById('id_shape').value = JSON.stringify(shape);
            }
        }
    </script>
</body>
</html>