#message-box {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.Horizontally-Centered {
    width: 200px;
    margin: 100px auto;
    background-color: #CCC;
}